<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="AutomationPOC">

    <test name="Regression" preserve-order="true">
        <classes>
            <class name="ApiTests.EverythingAboutYourPet"/>
            <class name="ApiTests.PetstoreOrders"/>
            <class name="ApiTests.UserOperations"/>

            <class name="FrontEndTests.BookStoreApplication"/>
        </classes>
    </test>
</suite>
